/*个人信息专用*/
            .display-in-bl{display:inline-block;vertical-align:middle;}
            .display-i-b{display:inline-block;}
            .display-i{display:inline;}
            .margin-l-33{margin-left:33px;}
            .info-frame{}
            .info-img-head{
                width:200px;height:200px;border:10px solid #ffffff;-webkit-box-shadow:1px 2px 2px #bbbbbb;-moz-box-shadow: inset 1px 2px 2px #bbbbbb;box-shadow: inset 1px 2px 2px #bbbbbb;
                border-radius: 100px 100px 100px 100px;
            }
            .info-name{color:#428bca;font-size:20px;vertical-align:center;width:auto;}
            .info-school{color:#bdbdbd;vertical-align:center;width:auto;}
            .info-head-frame{margin:3px;height:auto;width:auto;text-align:center;}
            .info-head-frame img{display:inline;margin:3px;}
            .info-right{
                margin:10px  0 0;background-color:white;
                -moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;
                -webkit-box-shadow:2px 2px 2px #bbbbbb;-moz-box-shadow:2px 2px 2px #bbbbbb;box-shadow:2px 2px 2px #bbbbbb;
            }
            .info-middle1{display:inline-block;vertical-align:middle;color:#f1ae28;}
            .info-left1{display:inline-block;vertical-align:middle;color:#428bca;width:100px;}
            .info-middle2{
                vertical-align:middle;border:none;padding:5px;margin:5px;background-color:#f0f2f5;width:250px;color:#428bca;
                -webkit-box-shadow:inset 2px 2px 1px #bbbbbb;-moz-box-shadow:inset 2px 2px 1px #bbbbbb;box-shadow:inset 2px 2px 1px #bbbbbb;
            }
            .info-middle2-input{
                color:#333333;
            }
            .info-save{
                background-color:#f1ae28;width:70px;padding:0 15px 0 15px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
                -webkit-box-shadow:2px 2px 2px #bbbbbb;-moz-box-shadow:2px 2px 2px #bbbbbb;box-shadow:2px 2px 1px #bbbbbb;
                color:#ffffff;
                float:right;
            }
            .info-save:hover{
                color:#ffffff;text-decoration:none;
            }
            .info-save-gray{
                background-color:#aaaaaa;
            }
            .info-edit{
                background-color:#f1ae28;width:70px;padding:0 15px 0 15px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
                -webkit-box-shadow:2px 2px 2px #bbbbbb;-moz-box-shadow:2px 2px 2px #bbbbbb;box-shadow:2px 2px 1px #bbbbbb;
                color:#ffffff;
                float:right;
            }
            .key-save{
                background-color:#f1ae28;width:70px;padding:0 5px 0 5px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
                -webkit-box-shadow:2px 2px 2px #bbbbbb;-moz-box-shadow:2px 2px 2px #bbbbbb;box-shadow:2px 2px 1px #bbbbbb;
                color:#ffffff;
                float:right;
            }
            
            .info-edit:hover{
                color:#ffffff;text-decoration:none;
            }
            .info-edit-gray{
                background-color:#aaaaaa;
            }
            .info-bubble-backg{
                position:absolute;top:105px;*top:-5px;left:253px;display:block;height:0;width:0;font-size: 0;line-height: 0;
                border-color:transparent  #bbbbbb transparent transparent;border-style:dashed dashed solid dashed;border-width:15px;
            }
            .info-bubble-shelter{
                position:absolute;top:102px;*top:-6px;left:252px;display:block;height:0;width:0;font-size: 0;line-height: 0;
                border-color:transparent  #fff transparent transparent;border-style:dashed dashed solid dashed;border-width:15px;
            }
            .normaltab-grxx ul li{border:0px;border-bottom:3px solid #5da3bd;margin-bottom:-3px;margin-right:5px;}
            .normaltab-grxx ul .active{border:0px;border-bottom:3px solid #ffffff;margin-bottom:-3px;}
            .normaltab-grxx ul a{margin-bottom:0px;background-color:#ffffff;margin-right:0px;border-radius: 6px 6px 0 0;font-size:16px;padding:10px 20px 5px 20px;}
            .normaltab-grxx ul a:hover{background-color:#fefefe;}
            
            #personal-info-content{padding:20px 0 30px 0;}
            
            .info-delete{
                background-color:#f1ae28;width:50px;padding:0 5px 0 5px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
                -webkit-box-shadow:2px 2px 2px #bbbbbb;-moz-box-shadow:2px 2px 2px #bbbbbb;box-shadow:2px 2px 1px #bbbbbb;
                color:#ffffff;
            }
            .info-read{
                background-color:#f1ae28;width:130px;padding:0 5px 0 5px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
                -webkit-box-shadow:2px 2px 2px #bbbbbb;-moz-box-shadow:2px 2px 2px #bbbbbb;box-shadow:2px 2px 1px #bbbbbb;
                color:#ffffff;
            }
            .cxresult-content-white{padding-top:15px;padding-bottom:15px;background-color:#fff;color:#bdbdbd;}
            .cxresult-content-gray{padding-top:15px;padding-bottom:15px;-webkit-box-shadow: inset 0px 2px 2px #bbbbbb;-moz-box-shadow: inset 0px 2px 2px #bbbbbb;box-shadow: inset 0px 2px 2px #bbbbbb;background-color:#f0f2f5;color:#bdbdbd;}
            
       