#myinfo{
	position:relavive;
	top:100px;
	margin-top:100px;
}
.infolabel{
	background-color: rgb(100,100,100);
	color: rgb(255,255,255);
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	margin:5px;
}
.personalinfo{
	margin-top:20px;
	margin-left:15%;
}
.imageselection{
	width:170px;
}
.imageselection img{
	display:block;
	margin:0 auto;
}
.imageselection div{
	margin-top:10px;
	margin-left:10px;
}
.personalinfo .userinfo{
	width:50%;
	margin-left:10%;
}
.submit-button:hover {
	background-color: rgb(0, 0, 0);
}
.submit-button{
	font-family: "brandon-grotesque",Arial,Helvetica,sans-serif;

	font-size: 1.2em;
	padding: 5px 15px;
	color: rgb(255, 255, 255);
	background-color: rgb(51, 51, 51);
	border: medium none;
	cursor: pointer;
}
.tag-bar{
	margin-left:15%;
	margin-top:20px;
	width:70%;
	border-bottom: 1px double rgb(156, 24, 41);
}
.tag-bar .title {
	padding: 5px 20px;
	background-color: rgb(156, 24, 41);
	color: rgb(255, 255, 255);
	display: inline-block;
}
.userinfo input{
	width: 200px;
	font: 20px Oxygen,sans-serif;
	border: 1px solid rgb(204, 204, 204);
	padding: 2px 8px;
	margin: 10px 0px;
	vertical-align: middle;
}

.safety{
	margin-left:15%;
}
.safety input{
	width: 200px;
	font: 20px Oxygen,sans-serif;
	border: 1px solid rgb(204, 204, 204);
	padding: 2px 8px;
	margin: 10px 0px;
	vertical-align: middle;
}
