﻿/*最关注子页面专用*/
            .photo-crop-big{height:300px;width:100%;-webkit-box-shadow:0px 2px 2px #bbbbbb;-moz-box-shadow: inset 0px 2px 2px #bbbbbb;box-shadow: inset 0px 2px 2px #bbbbbb;
                border-radius: 10px 10px 10px 10px;}
            .photo-crop-middle{height:196px;width:100%;-webkit-box-shadow:0px 2px 2px #bbbbbb;-moz-box-shadow: inset 0px 2px 2px #bbbbbb;box-shadow: inset 0px 2px 2px #bbbbbb;
                border-radius: 10px 10px 10px 10px;}
            .photo-crop-small{height:146px;width:100%;-webkit-box-shadow:0px 2px 2px #bbbbbb;-moz-box-shadow: inset 0px 2px 2px #bbbbbb;box-shadow: inset 0px 2px 2px #bbbbbb;
                border-radius: 10px 10px 10px 10px;}
            .photo-crop-xsmall{height:96px;width:100%;-webkit-box-shadow:0px 2px 2px #bbbbbb;-moz-box-shadow: inset 0px 2px 2px #bbbbbb;box-shadow: inset 0px 2px 2px #bbbbbb;
                border-radius: 10px 10px 10px 10px;}
            
            .photo-scribe-big-b{border-radius: 0 0 10px 10px;top:-300px;width:100%;position:relative;height:80px;
                margin-top:220px;color:white;opacity:0.9;text-decoration:bold;font-size:25px;padding:20px;
            }
            .photo-scribe-middle-b{border-radius: 0 0 10px 10px;top:-200px;width:100%;position:relative;height:70px;
                margin-top:130px;color:white;opacity:0.9;text-decoration:bold;font-size:18px;padding:18px;
            }
            .photo-scribe-small-b{border-radius: 0 0 10px 10px;top:-150px;width:100%;position:relative;height:60px;
                margin-top:90px;color:white;opacity:0.9;text-decoration:bold;font-size:15px;padding:15px;
            }
            .photo-scribe-xsmall-b{border-radius: 0 0 10px 10px;top:-100px;width:100%;position:relative;height:40px;
                margin-top:60px;color:white;opacity:0.9;text-decoration:bold;font-size:13px;padding:10px;
            }
            .photo-scribe-big-t{border-radius: 10px 10px 0 0;top:-300px;width:100%;position:relative;height:80px;
                color:white;opacity:0.9;text-decoration:bold;font-size:25px;padding:20px;
            }
            .photo-scribe-middle-t{border-radius: 10px 10px 0 0;top:-200px;width:100%;position:relative;height:70px;
                color:white;opacity:0.9;text-decoration:bold;font-size:18px;padding:18px;
            }
            .photo-scribe-small-t{border-radius: 10px 10px 0 0;top:-150px;width:100%;position:relative;height:60px;
                color:white;opacity:0.9;text-decoration:bold;font-size:15px;padding:15px;
            }
            .photo-scribe-xsmall-t{border-radius: 10px 10px 0 0;top:-100px;width:100%;position:relative;height:40px;
                color:white;opacity:0.9;text-decoration:bold;font-size:13px;padding:10px;
            }
            .chaxun{
                background:#fff;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;padding:30px 30px 30px 30px;
                -webkit-box-shadow:0px 2px 2px #bbbbbb;-moz-box-shadow: 0px 2px 2px #bbbbbb;box-shadow: 0px 2px 2px #bbbbbb;      
            }
            .chaxun-xuanxiang-yuanxi{display:inline-block;margin-left:15px;margin-right:5px;margin-bottom:10px;padding-left:3px;padding-right:3px;color:#428bca;cursor:pointer; }
            .chaxun-xuanxiang-tese{display:inline-block;margin-left:15px;margin-right:5px;margin-bottom:10px;padding-left:3px;padding-right:3px;color:#428bca;cursor:pointer; }
            .chaxun-xuanxiang-xianzhi{display:inline-block;margin-left:15px;margin-right:5px;margin-bottom:10px;padding-left:3px;padding-right:3px;color:#428bca;cursor:pointer; }
            .chaxun-choose{
                background-color:#ffeeaa;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
                -webkit-box-shadow:inset 0px 2px 2px #bbbbbb;-moz-box-shadow:inset 0px 2px 2px #bbbbbb;box-shadow:inset 0px 2px 2px #bbbbbb;
            }
            .chaxun-more{
                background-color:#f0f2f5;color:#bdbdbd;padding:0 5px 0 5px;margin-right:24px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
            }
            .chaxun-input{
                border:none;margin:5px;background-color:#f0f2f5;width:200px;height:40px;margin-top:15px;color:#428bca;
                -webkit-box-shadow:inset 0px 2px 2px #bbbbbb;-moz-box-shadow:inset 2px 2px 1px #bbbbbb;box-shadow:inset 2px 2px 1px #bbbbbb;
            }
            .chaxun-submit{
                background-color:#f0f2f5;color:#428bca;width:70px;padding:0 15px 0 15px;margin-left:135px;margin-top:15px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
                -webkit-box-shadow:2px 2px 2px #bbbbbb;-moz-box-shadow:2px 2px 2px #bbbbbb;box-shadow:0px 2px 2px #bbbbbb;
            }
            .chaxun-border{border-left:solid 2px #428bca;border-right:solid 2px #428bca;}
            .chaxun-left{margin-left:20px;}
            .chaxun-titlefont{font-size:16px;color:#bdbdbd;}
            .cxresult-frame{display:inline-block;vertical-align:middle;height:20px;width:20px;}
            .display-in-bl{display:inline-block;vertical-align:middle;}
            .cxresult-content-white{padding-top:15px;padding-bottom:15px;background-color:#fff;color:#bdbdbd;}
            .cxresult-content-gray{padding-top:15px;padding-bottom:15px;-webkit-box-shadow: inset 0px 2px 2px #bbbbbb;-moz-box-shadow: inset 0px 2px 2px #bbbbbb;box-shadow: inset 0px 2px 2px #bbbbbb;background-color:#f0f2f5;color:#bdbdbd;}
            
            .zgzh-normaltab ul li{border:0px;border-bottom:3px solid #f1ae28;margin-bottom:-3px;margin-right:5px;}
            .zgzh-normaltab ul .active{border:0px;border-bottom:3px solid #ffffff;margin-bottom:-3px;}
            .zgzh-normaltab ul a{margin-bottom:0px;background-color:#ffffff;margin-right:0px;border-radius: 6px 6px 0 0;font-size:16px;padding:10px 20px 5px 20px;}
            .zgzh-normaltab ul a:hover{background-color:#fefefe;}
            .rmkch-content-white{padding-top:25px;padding-bottom:25px;background-color:#fff;color:#bdbdbd;}
            .rmkch-content-gray{padding-top:25px;padding-bottom:25px;-webkit-box-shadow: inset 0px 2px 2px #bbbbbb;-moz-box-shadow: inset 0px 2px 2px #bbbbbb;box-shadow: inset 0px 2px 2px #bbbbbb;background-color:#f0f2f5;color:#bdbdbd;}
            .rmkch-course-name{color:#428bca;font-size:16px;}
            .rmkch-pingfen-name{display:inline-block;vertical-align:middle;}
            .rmkch-pingfen-backg{
                display:inline-block;vertical-align:middle;height:12px;width:120px;background-color:#f0f2f5;
                -moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;
                 -webkit-box-shadow:inset 1px 1px 1px #bbbbbb;-moz-box-shadow:inset 1px 1px 1px #bbbbbb;box-shadow:inset 1px 1px 1px #bbbbbb;
            }
            .rmkch-pingfen-con{height:12px;padding:0;background-color:#bbbbbb;color:#fff;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;}
            .rmkch-pingfen-num{height:12px;margin-top:-2px;margin-right:3px;padding:0px;font-size:4px;}
            .rmkc-border-white{border-right:2px solid #f0f1f4;}
            .rmkc-border-gray{border-right:2px solid #e3e7ec;}        
            .info-delete{
                background-color:#f1ae28;width:50px;padding:0 5px 0 5px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
                -webkit-box-shadow:2px 2px 2px #bbbbbb;-moz-box-shadow:2px 2px 2px #bbbbbb;box-shadow:2px 2px 1px #bbbbbb;
                color:#ffffff;
            }