.infolabel{
	background-color: rgb(100,100,100);
	color: rgb(255,255,255);
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	margin:5px;
	width:30px;
	float:left;
}

.infowidget{
	margin:20px;
	float:left;
}
.infoleft{
	margin:10px;
	float:left;
	width:60%;
}
.inforight{
	margin:10px;
	margin-top:35px;
	float:left;
	width:30%;
}

.passlabel{
	background-color: rgb(100,100,100);
	color: rgb(255,255,255);
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	margin:5px;
	width:45px;
	float:left;
}