body{
}

/*.banner{
width:1100px;
height:30px;
top::5px;
left:100px;
margin-left:8%;
margin-top:0px;
padding:0px;
background-color:#FFFFFF;
}

.global{
float:left;
}

#logo{
float:left;
text-align:center;
line-height:36px;
font-family:'宋体';
font-weight:bold;
font-size:16px;
list-style:none;
height:36px;
width:120px;
color:white;
text-decoration:none;
background-image:url(banner.png);
background-position:-248px -36px;
}

#logo a:hover,a:focus{
background-position:-248px -72px;
}

.tit{
float:left;
padding:0;
text-align:center;
line-height:36px;
font-family:'宋体';
font-weight:bold;
font-size:16px;
color:white;
list-style:none;
height:36px;
width:120px;
background-image:url(banner.png);
background-position:-248px -36px;
text-decoration:none;
}

.tit a:hover,a:focus{
background-position:-248px -72px;
}

.tit2{
float:left;
padding:0;
text-align:center;
list-style:none;
height:36px;
width:208px;
background-image:url(nav.png);
}

.nav{
padding:0;
margin:0;
position:relative;
left:0px;
top:16px;
float:left;
background-image:url(nav.png);
width:208px;
height:36px;
}

.rig{
padding:0;
margin:0;
float:left;
margin-top:0px;
margin-right:18px;
position:relative;
top:-3px;
font-family:'宋体';
font-size:13px;
list-style:none;
}

.rig2{
font-family:'宋体';
font-size:13px;
font-weight:bold;
color:white;
text-decoration:none;
}

.searcher{
position:absolute;
top:55px;
left:120px;
}

#searchinput{
font-family:Arial;
font-size:14px;
font-weight:normal;
font-style:normal;
color:#000000;
text-transform:none;
text-decoration:none;
letter-spacing:normal;
word-spacing:0;
line-height:normal;
text-align:start;
vertical-align:baseline;
direction:ltr;
background-color:#FFFFFF;
background-image:none;
background-repeat:repeat;
background-position:0 0;
background-attachment:scroll;
opacity:1;
width:322px;
height:27px;
top:auto;
right:auto;
bottom:auto;
left:auto;
margin:0;
padding-top:0;
padding-right:0px;
padding-bottom:0;
padding-left:8px;
border-width:2px;
border-color:#5A5959;
border-style:solid;
}

#searchbtn{
font-family:Arial;
font-size:13px;
font-weight:normal;
font-style:normal;
color:#000000;
text-transform:none;
text-decoration:none;
letter-spacing:normal;
word-spacing:0;
line-height:normal;
text-align:center;
vertical-align:baseline;
direction:ltr;
background-color:rgba(0, 0, 0, 0);
background-image:url(searchbtn.png);
background-repeat:no-repeat;
background-position:-17px -82px;
background-attachment:scroll;
opacity:1;
width:78px;
height:31px;
top:auto;
right:auto;
bottom:auto;
left:auto;
margin:0;
padding:0;
border-width:0;
border-color:#000000;
border-style:none;
cursor:pointer;
}*/

/*#largepic{
position:absolute;
top:90px;
left:155px;
}

#lgpic{
height:562px;
width:900px;
}

#login{
display:none;
position:absolute;
top:160px;
left:450px;
height:290px;
width:350px;
background-image:url(login.png);
padding:0;
border:0;
margin:0;
}

#closebtn_log{
position:relative;
top:8px;
left:325px;
height:20px;
width:20px;
background-image:url(closebtn.png);
padding:0;
border:0;
margin:0;
cursor:pointer;
}

#logintext{
position:relative;
top:-10px;
left:8px;
font-family:'宋体';
font-size:18px;;
padding:0;
border:0;
margin:0;
}

#mail_log{
position:relative;
top:27px;
left:15px;
padding:0;
border:0;
margin:0;
font-family:'宋体';
font-size:20px;
}

#mailinput_log{
position:relative;
top:0px;
left:70px;
height:30px;
width:235px;

font-family:Arial;
font-size:16px;
font-weight:normal;
font-style:normal;
color:#000000;
text-transform:none;
text-decoration:none;
letter-spacing:normal;
word-spacing:0;
line-height:normal;
text-align:start;
vertical-align:baseline;
direction:ltr;
background-color:#FFFFFF;
background-image:none;
background-repeat:repeat;
background-position:0 0;
background-attachment:scroll;
opacity:1;
margin:0;
padding-top:0;
padding-right:0px;
padding-bottom:0;
padding-left:8px;
border-width:1px;
border-color:#5A5959;
border-style:solid;
}

#password_log{
position:relative;
top:27px;
left:15px;
padding:0;
border:0;
margin:0;
font-family:'宋体';
font-size:20px;
}

#passwordinput_log{
position:relative;
top:0px;
left:70px;
height:30px;
width:235px;

font-family:Arial;
font-size:16px;
font-weight:normal;
font-style:normal;
color:#000000;
text-transform:none;
text-decoration:none;
letter-spacing:normal;
word-spacing:0;
line-height:normal;
text-align:start;
vertical-align:baseline;
direction:ltr;
background-color:#FFFFFF;
background-image:none;
background-repeat:repeat;
background-position:0 0;
background-attachment:scroll;
opacity:1;
margin:0;
padding-top:0;
padding-right:0px;
padding-bottom:0;
padding-left:8px;
border-width:1px;
border-color:#5A5959;
border-style:solid;
}

#remlogincheckbox_log{
position:relative;
top:43px;
left:-170px;
padding:0;
border:0;
margin:0;
}

#remlogin_log{
position:relative;
top:15px;
left:90px;
padding:0;
border:0;
margin:0;
font-size:12px;
font-family:'宋体';
}

#loginsubmit_log{
position:relative;
top:30px;
left:80px;
padding:0;
border:0;
background-color:#DDDDDD;
background-position:initial initial;
background-repeat:initial initial;
font-size:18px;
height:28px;
width:83px;
line-height:28px;
font-family:'宋体';
cursor:pointer;
}

#forgetpassword_log{
position:relative;
top:-10px;
left:176px;
font-family:'宋体';
font-size:12px;
}

#hmy_log{
position:relative;
top:40px;
left:30px;
font-family:'宋体';
font-size:12px;
}

#regnowbtn_log{
position:relative;
top:40px;
left:30px;
font-family:'宋体';
font-size:12px;
}

#incorrect_log{
position:relative;
top:-190px;
left:72px;
padding:0;
border:0;
width:300px;
color:red;
font-size:12px;
}*/

#register{
display:none;
position:absolute;
top:160px;
left:450px;
height:340px;
width:350px;
background-image:url(register.png);
padding:0;
border:0;
margin:0;
}

#closebtn_reg{
position:relative;
top:8px;
left:325px;
height:20px;
width:20px;
background-image:url(closebtn.png);
padding:0;
border:0;
cursor:pointer;
}

#registertext{
position:relative;
top:-12px;
left:8px;
font-family:'宋体';
font-size:18px;
padding:0;
border:0;
margin:0;
}

#mail_reg{
position:relative;
top:27px;
left:15px;
padding:0;
border:0;
margin:0;
font-family:'宋体';
font-size:20px;
}

#mailinput_reg{
position:relative;
top:0px;
left:70px;
font-size:20px;
font-family:'宋体';
height:30px;
width:250px;
}

#name_reg{
position:relative;
top:27px;
left:15px;
padding:0;
border:0;
margin:0;
font-family:'宋体';
font-size:20px;
}

#nameinput_reg{
position:relative;
top:0px;
left:70px;
font-size:20px;
font-family:'宋体';
height:30px;
width:250px;
}

#password_reg{
position:relative;
top:27px;
left:15px;
padding:0;
border:0;
margin:0;
font-family:'宋体';
font-size:20px;
}

#passwordinput_reg{
position:relative;
top:0px;
left:70px;
font-size:20px;
font-family:'宋体';
height:30px;
width:250px;
}

#agreeregcheckbox_reg{
position:relative;
top:40px;
left:-190px;
padding:0;
border:0;
margin:0;
}

#agree_reg{
position:relative;
top:15px;
left:85px;
padding:0;
border:0;
margin:0;
font-size:12px;
font-family:Arial;
}

#registersubmit_reg{
position:relative;
top:30px;
left:80px;
padding:0;
border:0;
background-color:#DDDDDD;
background-position:initial initial;
background-repeat:initial initial;
font-size:18px;
height:28px;
width:83px;
line-height:28px;
font-family:'宋体';
cursor:pointer;
}

#yy_reg{
position:relative;
top:30px;
left:85px;
font-family:'宋体';
font-size:12px;
}

#lognow_reg{
position:relative;
top:30px;
left:105px;
font-family:'宋体';
font-size:12px;
}
/*

#myinfo{
padding:0;
border:0;
width:850px;
position:absolute;
top:130px;
left:100px;
}

#myinfotext{
font-family:'宋体';
font-size:21px;
position:relative;
top:0px;
left:20px;
}

#myinfosave{
position:relative;
left:200px;
top:3px;
font-family:'宋体';
font-size:12px;
padding:0px;
border:0px;
background-color:#FFFFFF;
cursor:pointer;
}

#mypic{
padding:0;
border:0;
width:60px;
height:60px;
position:relative;
top:10px;
left:32px;
}

#changemypic{
position:relative;
left:-29px;
top:25px;
font-family:'宋体';
font-size:12px;
text-decoration:none;
}

#name{
position:relative;
left:-10px;
top:-30px;
}

#nameinput{
position:relative;
left:-10px;
top:-32px;
width:120px;
}

#school{
position:relative;
left:-10px;
top:-30px;
}

#schoolinput{
position:relative;
left:-10px;
top:-32px;
width:120px;
}

#department{
position:relative;
left:-10px;
top:-30px;
}

#departmentinput{
position:relative;
left:-10px;
top:-32px;
width:120px;
}

#class{
position:relative;
left:-10px;
top:-30px;
}

#classinput{
position:relative;
left:-10px;
top:-32px;
width:120px;
}

#sex{
position:relative;
left:-682px;
top:8px;
}

#male{
position:relative;
left:167px;
top:-15px;
}

#maleradio{
position:relative;
left:-840px;
top:23px;
}

#female{
position:relative;
left:180px;
top:-15px;
}

#femaleradio{
position:relative;
left:-10px;
top:0px;
}

#birth{
position:relative;
left:200px;
top:-15px;
}

#birthyearinput{
position:relative;
left:200px;
top:-15px;
width:100px;
height:20px;
}

#birthyear{
position:relative;
left:200px;
top:-15px;
}

#birthmonthinput{
position:relative;
left:200px;
top:-15px;
width:100px;
height:20px;
}

#birthmonth{
position:relative;
left:200px;
top:-15px;
}

#birthdayinput{
position:relative;
left:200px;
top:-15px;
width:100px;
height:20px;
}

#birthday{
position:relative;
left:200px;
top:-15px;
}

#myfocus{
padding:0;
border:0;
width:850px;
position:absolute;
top:280px;
left:100px;
}

#myfocustext{
font-family:'宋体';
font-size:21px;
position:relative;
top:0px;
left:20px;
}

#addfocus{
position:relative;
left:640px;
top:3px;
font-family:'宋体';
font-size:12px;
text-decoration:none;
}

#deletefocus{
position:relative;
left:640px;
top:3px;
font-family:'宋体';
font-size:12px;
text-decoration:none;
}

#safety{
padding:0;
border:0;
width:850px;
position:absolute;
top:450px;
left:100px;
}

#safetytext{
font-family:'宋体';
font-size:21px;
position:relative;
top:0px;
left:20px;
}

#oldpassword{
position:relative;
top:10px;
left:30px;
}

#oldpasswordinput{
position:relative;
top:10px;
left:30px;
width:120px;
}

#newpassword1{
position:relative;
top:10px;
left:30px;
}

#newpassword1input{
position:relative;
top:10px;
left:30px;
width:120px;
}

#newpassword2{
position:relative;
top:10px;
left:30px;
}

#newpassword2input{
position:relative;
top:10px;
left:30px;
width:120px;
}

#changepasswordbtn{
padding:0px;
position:relative;
top:9px;
left:30px;
height:22px;
width:60px;
font-family:Times New Roman;
cursor:pointer;
}

#findpasswordbtn{
padding:0px;
position:relative;
top:-13px;
left:690px;
height:22px;
width:100px;
font-family:Times New Roman;
cursor:pointer;
}

*/
#de{
margin:0px;
padding:0px;
position:absolute;
left:20px;
top:0px;
width:850px;
}

#de_text{
position:absolute;
top:80px;
left:80px;
font-size:24px;
font-weight:bold;
}

.de_class{
color:black;
}

.de_class:hover,.de_class:focus{
text-decoration:none;
color:black;
}

#ligong{
width:460px;
position:absolute;
top:110px;
left:80px;
}

#ligong_text{
font-size:20px;
font-weight:bold;
}

.de_name{
font-size:18px;
color:black;
text-decoration:none;
}

#wenshi{
position:absolute;
top:110px;
left:560px;
width:130px;
position:absolute;
}

#wenshi_text{
font-size:20px;
font-weight:bold;
}

#qita{
position:absolute;
top:110px;
left:710px;
width:250px;
position:absolute;
}

#qita_text{
font-size:20px;
font-weight:bold;
}

#cl{
margin:0px;
padding:0px;
position:absolute;
left:900px;
top:0px;
width:200px;
}

#cl_text{
position:absolute;
top:80px;
left:70px;
font-size:24px;
font-weight:bold;
}

.cl_name{
font-size:18px;
color:black;
text-decoration:none;
}

.department_check{
border:0;
padding:0;
width:120px;
margin-left:10px;
margin-right:10px;
margin-top:1px;
margin-bottom:1px;
float:left;
}

#de_zhankai{
position:relative;
font-size:11px;
cursor:pointer;
margin-left:450px;
width:1050px;
}

#de_zhankai:hover, #de_zhankai:focus{
text-decoration:none;
}

.tese_check{
border:0;
padding:0;
width:120px;
margin-left:10px;
margin-right:10px;
margin-top:1px;
margin-bottom:1px;
float:left;
}

.year_check{
border:0;
padding:0;
width:120px;
margin-left:10px;
margin-right:10px;
margin-top:1px;
margin-bottom:1px;
float:left;
}

#co{
margin:0px;
padding:0px;
position:relative;
left:100px;
top:30px;
width:1020px;
}

#co_text{
position:absolute;
top:0px;
left:0px;
font-size:24px;
font-weight:bold;
}

.mycare{
font-size:18px;
color:black;
text-decoration:none;
}

#ho{
margin:0px;
padding:0px;
width:850px;
position:relative;
left:20px;
top:30px;
}

#ho_text{
position:absolute;
top:120px;
left:80px;
font-size:24px;
font-weight:bold;
}

#course_list{
position:absolute;
left:100px;
top:80px;
width:1000px;
}

#course_list_text{
position:absolute;
top:0px;
left:0px;
font-size:24px;
font-weight:bold;
}

.info_tag{
font-weight:bold;
}

.c_l{
margin:opx;
padding:0px;
width:1000px;
height:30px;
font-size:16px;
font-family:'宋体';
}



#course_name{
position:absolute;
top:0px;
left:0px;
font-size:24px;
font-weight:bold;
}

.info_{
font-size:16px;
color:gray;
}

#more_info{
font-size:16px;
color:black;
text-decoration:none;
}

.t_tag{
font-weight:bold;
}

#rb_course{
position:absolute;
top:108px;
left:850px;
width:350px;
height:500px;
}

#fabiaoxintie{
position:absolute;
top:0px;
left:70px;
font-size:16px;
color:black;
text-decoration:none;
}

#care{
margin:0px;
padding:0px;
border:0px;
position:absolute;
top:70px;
left:65px;
font-family:Arial;
font-size:20px;
color:black;
text-align:center;
line-height:200%;
width:140px;
height:40px;
background-image:url(/css/care.png);
cursor:pointer;
text-decoration:none;
}

#care:hover,#care:focus{
color:white;
background-position:-0px -40px;
}

#ppt{
margin:0px;
padding:0px;
border:0px;
position:absolute;
top:170px;
left:65px;
font-family:Times New Roman;
font-size:20px;
color:black;
text-align:center;
line-height:200%;
width:140px;
height:40px;
background-image:url(/css/care.png);
cursor:pointer;
text-decoration:none;
}

#ppt:hover,#ppt:focus{
color:white;
background-position:-0px -40px;
}



#ft{
display:none;
margin:0px;
padding:0px;
border:0px;
position:absolute;
left:400px;
top:120px;
height:370px;
width:450px;
background-image:url(/css/fatie.png);
}

#closebtn_fatie{
position:absolute;
top:8px;
left:425px;
height:20px;
width:20px;
background-image:url(closebtn.png);
padding:0;
border:0;
margin:0;
cursor:pointer;
}

#fatietext{
padding:0;
border:0;
margin:0;
position:absolute;
top:8px;
left:5px;
font-family:'宋体';
font-size:18px;;
}

#title_fatie{
position:absolute;
top:55px;
left:15px;
padding:0;
border:0;
margin:0;
font-family:'宋体';
font-size:20px;
}

#title_input{
position:absolute;
top:50px;
left:70px;
height:30px;
width:350px;

font-family:Arial;
font-size:18px;
font-weight:normal;
font-style:normal;
color:#000000;
text-transform:none;
text-decoration:none;
letter-spacing:normal;
word-spacing:0;
line-height:normal;
text-align:start;
vertical-align:baseline;
direction:ltr;
background-color:#FFFFFF;
background-image:none;
background-repeat:repeat;
background-position:0 0;
background-attachment:scroll;
opacity:1;
margin:0;
padding-top:0;
padding-right:0px;
padding-bottom:0;
padding-left:8px;
border-width:1px;
border-color:#5A5959;
border-style:solid;
}

#content_fatie{
position:absolute;
top:95px;
left:15px;
padding:0;
border:0;
margin:0;
font-family:'宋体';
font-size:20px;
}

#content_input{
position:absolute;
top:90px;
left:70px;
height:210px;
width:350px;

font-family:Arial;
font-size:18px;
font-weight:normal;
font-style:normal;
color:#000000;
text-transform:none;
text-decoration:none;
letter-spacing:normal;
word-spacing:0;
line-height:normal;
text-align:start;
vertical-align:baseline;
direction:ltr;
background-color:#FFFFFF;
background-image:none;
background-repeat:repeat;
background-position:0 0;
background-attachment:scroll;
opacity:1;
margin:0;
padding-top:5px;
padding-right:0px;
padding-bottom:0;
padding-left:8px;
border-width:1px;
border-color:#5A5959;
border-style:solid;

overflow:auto;
}

#fatiebtn{
padding:0;
margin:0;
border:0px;
position:absolute;
left:70px;
top:320px;
background-image:url(fatiebtn.png);
font-size:18px;
height:30px;
width:80px;
line-height:28px;
color:black;
cursor:pointer;
}

#fatiebtn:hover, #fatiebtn:focus{
background-position:0 -30px;
color:white;
}


#rb_tz{
position:absolute;
top:108px;
left:850px;
width:350px;
height:500px;
}

#huifu{
position:absolute;
top:0px;
left:70px;
font-size:16px;
color:black;
text-decoration:none;
}


#hf{
display:none;
margin:0px;
padding:0px;
border:0px;
position:absolute;
left:400px;
top:120px;
height:330px;
width:450px;
background-image:url(/css/fatie.png);
}

#sub_reply{
display:none;
margin:0px;
padding:0px;
border:0px;
position:absolute;
left:400px;
top:120px;
height:330px;
width:450px;
background-image:url(/css/fatie.png);
}

#closebtn_huifu{
position:absolute;
top:8px;
left:425px;
height:20px;
width:20px;
background-image:url(closebtn.png);
padding:0;
border:0;
margin:0;
cursor:pointer;
}

#huifutext{
padding:0;
border:0;
margin:0;
position:absolute;
top:8px;
left:5px;
font-family:'宋体';
font-size:18px;;
}

#content_huifu{
position:absolute;
top:55px;
left:15px;
padding:0;
border:0;
margin:0;
font-family:'宋体';
font-size:20px;
}

#content_huifu_input{
position:absolute;
top:50px;
left:70px;
height:210px;
width:350px;

font-family:Arial;
font-size:18px;
font-weight:normal;
font-style:normal;
color:#000000;
text-transform:none;
text-decoration:none;
letter-spacing:normal;
word-spacing:0;
line-height:normal;
text-align:start;
vertical-align:baseline;
direction:ltr;
background-color:#FFFFFF;
background-image:none;
background-repeat:repeat;
background-position:0 0;
background-attachment:scroll;
opacity:1;
margin:0;
padding-top:5px;
padding-right:0px;
padding-bottom:0;
padding-left:8px;
border-width:1px;
border-color:#5A5959;
border-style:solid;

overflow:auto;
}

#huifubtn{
padding:0;
margin:0;
border:0px;
position:absolute;
left:70px;
top:280px;
background-image:url(fatiebtn.png);
font-size:18px;
height:30px;
width:80px;
line-height:28px;
color:black;
cursor:pointer;
}

#huifubtn:hover, #huifubtn:focus{
background-position:0 -30px;
color:white;
}




#shangchuanziliao{
position:absolute;
top:0px;
left:70px;
font-size:16px;
color:black;
text-decoration:none;
}

#liulantiezi{
margin:0px;
padding:0px;
border:0px;
position:absolute;
top:170px;
left:65px;
font-family:Times New Roman;
font-size:20px;
color:black;
text-align:center;
line-height:200%;
width:140px;
height:40px;
background-image:url(/css/care.png);
cursor:pointer;
text-decoration:none;
}


#sc{
display:none;
margin:0px;
padding:0px;
border:0px;
position:absolute;
left:400px;
top:120px;
height:420px;
width:450px;
background-image:url(/css/fatie.png);
}

#closebtn_shangchuan{
position:absolute;
top:8px;
left:425px;
height:20px;
width:20px;
background-image:url(closebtn.png);
padding:0;
border:0;
margin:0;
cursor:pointer;
}

#shangchuantext{
padding:0;
border:0;
margin:0;
position:absolute;
top:8px;
left:5px;
font-family:'宋体';
font-size:18px;;
}

#title_shangchuan{
position:absolute;
top:55px;
left:15px;
padding:0;
border:0;
margin:0;
font-family:'宋体';
font-size:20px;
}

#title_shangchuan_input{
position:absolute;
top:50px;
left:70px;
height:30px;
width:350px;

font-family:Arial;
font-size:18px;
font-weight:normal;
font-style:normal;
color:#000000;
text-transform:none;
text-decoration:none;
letter-spacing:normal;
word-spacing:0;
line-height:normal;
text-align:start;
vertical-align:baseline;
direction:ltr;
background-color:#FFFFFF;
background-image:none;
background-repeat:repeat;
background-position:0 0;
background-attachment:scroll;
opacity:1;
margin:0;
padding-top:0;
padding-right:0px;
padding-bottom:0;
padding-left:8px;
border-width:1px;
border-color:#5A5959;
border-style:solid;
}

#content_shangchuan{
position:absolute;
top:95px;
left:15px;
width:50px;
padding:0;
border:0;
margin:0;
font-family:'宋体';
font-size:20px;
}

#content_shangchuan_input{
position:absolute;
top:90px;
left:70px;
height:210px;
width:350px;

font-family:Arial;
font-size:18px;
font-weight:normal;
font-style:normal;
color:#000000;
text-transform:none;
text-decoration:none;
letter-spacing:normal;
word-spacing:0;
line-height:normal;
text-align:start;
vertical-align:baseline;
direction:ltr;
background-color:#FFFFFF;
background-image:none;
background-repeat:repeat;
background-position:0 0;
background-attachment:scroll;
opacity:1;
margin:0;
padding-top:5px;
padding-right:0px;
padding-bottom:0;
padding-left:8px;
border-width:1px;
border-color:#5A5959;
border-style:solid;

overflow:auto;
}

#fujian{
position:absolute;
top:320px;
left:15px;
width:50px;
padding:0;
border:0;
margin:0;
font-family:'宋体';
font-size:20px;
}

#filepath{
font-family:Arial;
font-size:18px;
font-weight:normal;
font-style:normal;
color:#000000;
text-transform:none;
text-decoration:none;
letter-spacing:normal;
word-spacing:0;
line-height:normal;
text-align:start;
vertical-align:baseline;
direction:ltr;
background-color:#FFFFFF;
background-image:none;
background-repeat:repeat;
background-position:0 0;
background-attachment:scroll;
opacity:1;
margin:0;
padding:0px;
border-width:1px;
border-color:#5A5959;
border-style:solid;
position:absolute;
top:315px;
left:70px;
height:30px;
width:350px;
background-color:white;
}

#filepath:hover,#filepath:focus{
cursor:pointer;
}

#shangchuanbtn{
padding:0;
margin:0;
border:0px;
position:absolute;
left:70px;
top:360px;
background-image:url(fatiebtn.png);
font-size:18px;
height:30px;
width:80px;
line-height:28px;
color:black;
cursor:pointer;
}

#shangchuanbtn:hover, #shangchuanbtn:focus{
background-position:0 -30px;
color:white;
}

.tz_content:hover,.tz_content:focus{
text-decoration:none;
}

/*<.poster_view:hover, .poster_view:focus{
width:200px;
height:150px;
}*/


#ac_text{
position:absolute;
font-size:24px;
font-weight:bold;
}

.club_class_text{
font-size:20px;
font-weight:bold;
}

.club_name{
font-size:16px;
color:black;
text-decoration:none;
}

#my_club{
margin:0px;
padding:0px;
position:absolute;
left:100px;
top:520px;
width:1020px;
}

#my_club_text{
position:absolute;
top:0px;
left:0px;
font-size:24px;
font-weight:bold;
}

#hot_club{
margin:0px;
padding:0px;
position:absolute;
left:100px;
top:680px;
width:1020px;
}

#hot_club_text{
position:absolute;
top:0px;
left:0px;
font-size:24px;
font-weight:bold;
}

/*activity css*/

.activity_class_check, .activity_time_check, .activity_spot_check{
border:0;
padding:0;
width:120px;
margin-left:10px;
margin-right:10px;
margin-top:1px;
margin-bottom:1px;
float:left;
}